<div class="announcementbar">
 <div class="container">
    <p class="announce-text text-center py-2">
        {{ section.settings.message }}
    </p>
 </div>
</div>

{% schema %}
{
    "name": "Announcementbar",
    "settings": [
        {
            "type": "text",
            "id": "message",
            "label": "Announcement Text",
            "default": "Free Shipping Domestic Orders Over $40 International Orders Over $60"
        }
        ]
}
{% endschema %}