<div class="collection-template-section">
<div class="collection-template">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h2>Sidebar Filtering</h2>
            </div>
            <div class="col-md-9">
                <div class="row row justify-content-between">
                    <p>Products: {{ collection.products_count }}</p>
                </div>
                <div class="collection-product">
                    <div class="row">
                        {% for product in collection.products %}
                            {% render 'card-product', product: product %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>