<div class="collection-template-section">
<div class="collection-template">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h2>Sidebar Filtering</h2>
            </div>
            <div class="col-md-9">
                <h2>Product Part</h2>
            </div>
        </div>
    </div>
</div>
</div>