<div class="contact-page-template">
    <div class="container">
    <div class="page-heading text-center my-2">
       <h2> {{ page.title }} </h2>
    </div>
    <div class="contact-form">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% form 'contact' %}
                    <div class="customer-info my-2">
                    <div class="form-row my-2">
                    <input class="col-6 form-control my-2" type="text" name="contact[first_name]" id="f_name" placeholder="First Name" >
                    <input class="col-6 form-control my-2" type="text" name="contact[last_name]" id="l_name" placeholder="Last Name" >
                    <input class="form-control" type="email" name="contact[email]" id="email" placeholder="Email" >
                    </div>
                    </div>
                    <div class="customer-message">
                        <textarea class="form-control" name="contact[message]" placeholder="Your Message Body" id="message" cols="20"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success my-2 px-4>Submit</button>
                {% endform %}
            </div>
        </div>
    </div>
</div>
</div>