{{ 'glider.min.css' | asset_url | stylesheet_tag }}

<h1>Custom Carousel Glider</h1>
<div class="page-width">
  <div class="glider">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
  </div>
</div>

<script src="{{ 'glider.min.js' |  asset_url }}" async></script>
<script>
  window.addEventListener('DOMContentLoaded', () => {
    new Glider(document.querySelector('.glider'), {
      arrows: {
        prev: '#{{ section.id }}.prev',
        // may also pass element directly
        next: '#{{ section.id }}.next',
      },
    });
  });
</script>
{% schema %}
{
  "name": "Custom Carousel Glider",
  "settings": [],
  "presets": [
    {
      "name": "Custom Carousel Glider"
    }
  ]
}
{% endschema %}
