<div class="image-banner-{{section.id}}">
    This is Image Banner For Shopify OS 2
    <h3>Hello Shopify</h3>
</div>
{% schema  %} 
{
    "name": "Image Banner",
    "settings": []
}
{% endschema %}
