<div class="addresses-section">
    <div class="container">
        <div class="heading-section text-center my-5">
            <h2>Address</h2>
        </div>
        <div class="row">
            {% for address in customer.addresses %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                         <div class="d-flex">
                            <div class="col">
                                <a href="">Delete</a>
                            </div>
                            <div class="col text-end">
                                <a href="#editModal{{ forloop.index }}" data-bs-toggle="modal">Edit</a>
                            </div>
                         </div>   
                        </div>
                        <div class="card-body">
                            {{ address |  format_address }}
                        </div>
                    </div>

                {% comment %} Modal Start  {% endcomment %}

                    <div class="modal fade" id="editModal{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="editModalyLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header d-flex justify-content-between align-items-center">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Edit Address</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                           Modaly Body
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                        </div>
                    </div>
                    </div>
                {% comment %}Modal End {% endcomment %}


                </div>
            {% endfor %}
        </div>
    </div>
</div>