<div class="main-account-{{section.id}}">
    
    <div class="container">
        <div class="heading-section d-flex justify-content-between">
        <div class="customer-info">
            <h3>Welcome {{ customer.first_name }}</h3>
        </div>
        <div class="customer-action">
            <a href="{{ routes.account_logout_url }}">Logout</a>
        </div>
        </div>
    </div>

</div>
{% schema %}
{
    "name": "Customer Account",
    "settings": []
}
{% endschema %}