<div class="customer-registration-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="register-heading my-5 text-center">
                    <h2>Create New Account</h2>
                </div>

                {% form 'create_customer' %}
                    <div class="row form-row">
                        <div class="col-6">
                        <input type="text" name="customer[first_name]" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-6">
                        <input type="text" name="customer[last_name]" class="form-control" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="email" name="customer[email]" class="form-control my-2" placeholder="Email">
                        <input type="password" name="customer[password]" class="form-control" placeholder="Password">
                    </div>
                {% endform %}
            </div>
        </div>
    </div>
</div>