<div class="customer-login-page">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div id="passwordRecover" style="display: none;">
                    <div class="page-heading my-3">
                        <h2>Reset Your Password</h2>
                        <span>We will send you an email with recovery codes</span>
                    </div>
                    {% form 'recover_customer_password' %}
                        {% if form.posted_successfully? %}
                            <span>Recovery Access Sent to your email</span>
                        {% endif %}
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email" id="recoverPassword" class="form-control my-3">
                        {% if from.errors %}
                            {{ form.errors.messages.form }}
                        {% endif %}
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    {% endform %}
                </div>
                <div id="customerLogin">
                    <div class="page-header my-5 text-center">
                        <h2>Customer Login</h2>
                    </div>
                    <div class="login-form-area">
                        {% form 'customer_login' %}
                        {% if form.errors %}
                            {{ form.errors }}
                        {% endif %}

                        <div class="login-form-input my-3">
                            <div class="form-group">
                                <input type="email" id="customerEmail" class="form-control my-2" name="customer[email]" placeholder="Email">
                                <input type="password" id="customerPassword" class="form-control" name="customer[password]" placeholder="Password">
                            </div> 
                        </div>
                        <p id="forgotPassword">Forgot Password?</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="submit" class="btn btn-success">Login</button>
                            <a href="{{ routes.account_register_url }}">Create New Account</a>
                        </div>
                        {% endform %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById('forgotPassword').addEventListener('click', function(){
        document.getElementById('customerLogin').style.display = 'none',
        document.getElementById('passwordRecover').style.display = 'block',
    })
</script>