<div class="recommended-products-section" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=6&intent=related">
    <div class="section-header">
        <h2>Recommended Products</h2>
    </div>
<div class="recommended-products" id="recommendedProducts">
    {% if recommendations.performed? and recommendations.product_count > 0 %}
        <div class="row">
        {% for product in recommendations.products %}
            {% render 'card-product', product: product %}
        {% endfor %}
        </div>
    {% endif %}
</div>
</div>

{% schema %}
{
    "name": "Product Recommendations",
    "settings": [
        
        ],
        "presets":[
            {
                "name": "Product Recommendations"
            }
        ]
}
{% endschema %}