{% style %}
    .sub-footer{
        background: {{ section.settings.bg-color }}
    }

{% endstyle %}


<div class="sub-footer my-5">
    <div class="sub-footer container py-3">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <h3>{{ section.settings.title }}</h3>
                {% if section.settings.rte != blank%}
                <div class="rte">
                    {{ section.settings.rte }}
                </div>
            {% endif %}
                {% form 'customer', id: 'newsletterForm' %}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="input-group">
                        <input type="email" name="contact[email]" class="form-control" placeholder="Email" required>
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text btn btn-success">Subscribe</button>
                        </div>
                    </div>
                {% endform %}
                <div id="successLetter" class="my-2" style="display: none;">
                    <p class="text-success">Subscribed Successfully</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#newsletterForm').on('submit', function(event){
            event.preventDefault();
            var form = $(this);
            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: form.serialize(),
                success: function(){
                    $('#successLetter').show();  // Corrected the show() method
                    form.trigger('reset');
                },
                error: function(){
                    alert("Something is wrong, please try again");
                }
            });
        });
    });
</script>

{% schema %}
{
    "name": "Sub Footer",
    "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Subscribe for Newsletter" 
            },
            {
                "type": "richtext",
                "id": "rte",
                "label": "Text"
            },
            {
                "type": "color",
                "id": "bg-color",
                "label": "Background Color",
                "default": "#FF474C"
            }
        ]
}
{% endschema %}