html{
    margin: 0;
    }
    body{
    background:#f1f1f1 ;
    }
    /*Announcebar Section*/
    p.announce-text.text-center{
    font-size: 24px;
    }

/* Mega Menu Section*/
.mega-submenu{
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: auto;
    right: 0;
    background-color: white;

}
.mega-menu-items:hover + .mega-submenu, .mega-submenu:hover {
    display: block;
}


    /*Hero Banner Section*/
    .bg-btn-color{
    background-color: #e11687;
    }
    .bg-btn-color:hover{
        background-color: #9b0f5d;
        }
    .banner-container {
    position:;
      oveflow:hidden;
    }
    .banner-content {
        position: absolute;
        bottom: 450px;
    }
   /* Featured Collection*/
    .card-body img {
        width: 100%;
        height: auto;
}
/* Predictive Search*/
#predictive-search {
    width: 900px;
    position: absolute;
    padding: 20px;
    background: #fff;
}

/* Multicolumn Section*/
svg.placeholder-svg {
    width: 100%;
    height: auto;
}


/* Featured Slider css start here  */
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.section__wrapper {
  width: 100vw;
  font-family: Poppins, sans-serif;
  padding: 40px 0px;
}

.slider__contents__wrapper {
  padding: 10px 20px;
}

.slider__title__content {
  padding: 10px 0;
}

.slider__title {
  font-size: 42px;
  font-family: Poppins, sans-serif;
}

.single__slide {
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.slide__contents img {
  width: 100%;
}

.slide__reviews {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slide__reviews i {
  font-size: 22px;
  color: gold;
}

.slide__reviews span {
  font-size: 16px;
  margin-left: 10px;
}

.slide__info {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide__info .slide__title {
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.slide__info .slider__price {
  font-size: 20px;
  color: black;
  font-weight: 600;
}

.main__slider ul.slick-dots {
  position: absolute;
  width: 250px;
  left: 50%;
  transform: translate(-50%, 0px);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  bottom: -40px;
  padding-bottom: 5px;
}

.slick-dots li button:before {
  font-size: 10px;
}

/* Featured Slider css end here  */


@media screen and (min-width:768px) {
    .image-banner-main img{
        width: 100%;
        height: auto;
    }
}

