html{
    margin: 0;
    }
    body{
    background:#f1f1f1 ;
    }
    /*Announcebar Section*/
    p.announce-text.text-center{
    font-size: 24px;
    }
    /*Hero Banner Section*/
    .bg-btn-color{
    background-color: #e11687;
    }
    .bg-btn-color:hover{
        background-color: #9b0f5d;
        }
    .banner-container {
    position: relative;
    }
    .banner-content {
        position: absolute;
        bottom: 450px;
    }
   /* Featured Collection*/
    .card-body img {
        width: 100%;
        height: auto;
}
/* Predictive Search*/
#predictive-search {
    position: absolute;
    padding: 20px;
    background: white;
}

/* Multicolumn Section*/
svg.placeholder-svg {
    width: 100%;
    height: auto;
}


@media screen and (min-width:768px) {
    .image-banner-main img{
        width: 100%;
        height: auto;
    }
}