html{
    margin: 0;
    }
    body{
    background:#f1f1f1 ;
    }
    
    /*Announcebar Section*/
    p.announce-text.text-center{
    font-size: 24px;
    }
    
    /*Hero Banner Section*/
    .bg-btn-color{
    background-color: #e11687;
    }
    .banner-container {
    position: relative;
    }
    .banner-content {
        position: absolute;
        bottom: 450px;
    }
    
    
    @media screen and (min-width:768px) {
        .image-banner-main img{
            width: 100%;
            height: auto;
        }
    }